@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pink: hsl(322, 100%, 66%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
    --VeryPaleCyan: hsl(193, 100%, 96%);
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2,
h3,
h4 {

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}


.button button {
    
    background-color:white;
    width: 120px;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.button button:hover{
color:var(--GrayishBlue) ;
}

footer {
    background-color: var(--VeryDarkCyan);
}

.icon i:hover {
    color: var(--Pink);

}

.grow,.flow,.user{
    box-shadow: 0px 0px 0px 5px   rgba(234, 233, 233, 0.557);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.promo{
    box-shadow: 0px 0px 0px 5px   var(--VeryDarkCyan);}
.grow img,.flow img,.user img{
    max-width: 350px;
}
a:hover{
    text-decoration: underline;
}